
{{ content }}

{{ if type == "text" }}

<!-- Standard Content Insert-->

    <div class="text ec-primary-content">
      {{ text }}
    </div>

  <!-- Allows for Adding a code Snippet via control panel into bard -->
  {{ elseif type == "code_block" }}
    {{ code_insert }}

 <!-- Embeds Wistia Video -->   
{{ elseif type == "wistia_video_embed" }}
<div class="wistia_responsive_padding my-8" style="padding:53.96% 0 0 0;position:relative;">
  <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
    <div class="wistia_embed wistia_async_{{wistia_video_id}} videoFoam=true" style="height:100%;position:relative;width:100%">
      <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
        <img src="https://fast.wistia.com/embed/medias/{{wistia_video_id}}/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div>
      </div>
    </div>
  </div>

{{ /if }}
{{ /content }}