<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        <script src="https://kit.fontawesome.com/64c72f3c4b.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
        <style>
            {{ custom_styles }}
        </style>
    </head>
    <body class="text-gray-900 leading-normal font-sans bg-gray-100">
        <div id="app">
            <header id="header">
                <div class="container mx-auto flex flex-row items-center justify-between border-b-2 border-gray-200 pr-4 pt-4 pb-4 pl-0 mb-6 ">
                    <a href="/" class="pr-8"><img class="h-10" src="/assets/site/ec2021-1.svg"></a>

                    <form class="md:w-10/12 pr-40" action="/search/results">
                        <input class="w-full p-2 border-2 rounded-lg bg-white shadow-md text-gray-700 font-normal focus:outline-none focus:font-semibold" type="text" name="q" placeholder="Search the docs">
                    </form>
        
                    <div class="flex flex-row items-center">
                        <a class="w-5" href="">
                            <img src="/img/github.svg" alt="Github">
                        </a>
                    </div>
                </div>
            </header>
        
            <main class="container mx-auto flex flex-col md:flex-row">
                <div class="w-full md:w-1/5">
                    <div class="px-2 mobilesitenav">
                        <button class="w-full bg-gray-200 p-2 rounded-lg mb-2 text-center text-gray-800 font-semibold uppercase md:hidden" onclick="toggleNav()">
                            Toggle Navigation
                        </button>
                    </div>
        
                    <div id="hamburger-menu" class="flex flex-col hidden md:block">
                        {{ structure for='docs' }}
                            <div id="{{ title | underscored }}" class="flex flex-col mb-6 p-2">
                                <h3 class="font-bold uppercase text-sm text-gray-600 mb-1">{{ title }}</h3>
        
                                <ul class="flex flex-col m-0 list-none">
                                    {{ children }}
                                        <li id="{{ title | underscored }}" class="hover:ml-2 mt-1 mb-1">
                                            <a class="{{ if page:url === url }} text-blue-700 font-semibold {{ else }} text-gray-900 {{ /if }} hover:text-blue-700 text-md" href="{{ url }}">
                                                {{ title }}
                                            </a>
                                        </li>
                                    {{ /children }}
                                </ul>
                            </div>
                        {{ /structure }}
                    </div>
        
                    <div class="hidden md:flex flex-col text-xs my-4 p-2 text-gray-700">
                        <a class="mb-1" href="http://echelpcenter.test/plans-and-pricing">ElderDocx Plans and Pricing</a>
                    </div>
                </div>
        
                <div class="md:w-2/3 p-2 md:p-0">
                    <article id="{{ slug }}" class="md:w-12/12">
                        <h2 id="page-title" class="text-2xl font-semibold">{{ title }} -- new test</h2>
                        <p id="page-subtitle" class="mt-1 text-gray-600">
                            {{ if description }}
                                {{ description }}
                            {{ else }}
                                Last updated on {{ updated_at }}.
                            {{ /if }}
                        </p>
        
                        <div class="border-b-2 border-gray-200 my-6"></div>
        
                        <div id="markdown">
                            {{ template_content }}
                        </div>
                    </article>
                </div>
            </main>
        </div>
        <script src="{{ mix src='/js/site.js' }}"></script>




        <!-- new adds -->
        <script src="/js/site.js"></script>
        <script>
            // oh yeah, rollin' that custom js ✨
            function toggleNav() {
                var menu = document.getElementById('hamburger-menu');
        
                console.log(menu.classList.contains('hidden'));
        
                if (menu.classList.contains('hidden')) {
                    menu.classList.remove('hidden');
                } else {
                    menu.classList.add('hidden');
                }
            }
        
        
        const pdfshift = require('pdfshift')('8a7c35d7ba124ec88637bbf291cfce0e');
        const fs = require('fs');
        
        
        pdfshift.convert('https://en.wikipedia.org/wiki/PDF', {"landscape": false, "use_print": false}).then(function (binary_file) {
            fs.writeFile('wikipedia.pdf', binary_file, "binary", function () {})
        }).catch(function({message, code, response, errors = null}) {})
        
        </script>
        
        
        <!-- adds scripts for Wistia video if embeded on page -->
        {{ content }}
        
        {{ if type == "wistia_video_embed" }}
        <script src="https://fast.wistia.com/embed/medias/{{wistia_video_id}}.jsonp" async></script>
        <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
        {{ /if }}
        
        {{ /content }}

        <!-- end new adds -->




    </body>
</html>
